<?xml version="1.0" encoding="UTF-8"?>
<server description="insurance-app">

    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>microProfile-6.1</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9080"/>
    <variable name="https.port" defaultValue="9443"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${http.port}"
                  httpsPort="${https.port}"/>

    <webApplication contextRoot="/"
                    location="insurance-app.war"/>

    <logging consoleLogLevel="INFO"/>
</server>
